.btn--singleplayer-restart {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.to-hub-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    color: #686868;
    font-size: 15px;
    font-weight: 300;
    transition: .3s all;
    cursor: pointer;
}

.to-hub-button:hover {
    color: white;
    transition: .3s all;
}